{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('register.static' , filename='css/register.css')}}">
{% endblock %}

{% block content %}
<div class ="layout1">
<form action="{{url_for('user.register_account')}}" method="post">
    <p class="fsize">ユーザー登録</p>
    <div class="merupasu">
    <p>メールアドレス：</p>
    <input type="mail" id="mail" name="mail">
    <p>パスワード：</p>
    <input type="password" id="password" name="pas">
    </div>
    <button type="submit">登録</button>
  </form>
</div>
{% endblock %}