<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>アカウント一覧画面</h3>
    <table>
        <tr>
            <th>メールアドレス</th>
            <th>削除</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{user[1]}}</td>
                <td><a href = "{{url_for('list.confirm', id = user[0],mail = user[1])}}">削除</a></td>
            </tr>
        {% endfor %}
    </table>
    {%for i in range(1,page+1)%}
        {% if i <= total_pages %}            
            <a href = "/lsit/{{i}}">{{i}}</a>
        {% endif %}
    {% endfor %}
    
    
    
</body>
</html>