#content {
    margin: 0 auto;
    min-width: 600px;
    max-width: 1000px;
    text-align: center;
}

#drop-area p {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
}

#drop-area {
    margin: 0 auto;
    width: 600px;
    height: 150px;
    background: #E5E5E5;

}

#drop-area::before {
    content: "ここに音声ファイルをドラッグアンドドロップしてください";
}

#drop-area.active {
    border: 2px #e5e5e5;
    background-color: rgba(0, 135, 247, 0.05);
}

#header1 {
    text-align: center;
}

.km_btn1 {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

}

.km_btn {
    width: 160px;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    color: white;
    background-color: #808080;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 30px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
    transition: background-color 0.24s ease 0s, box-shadow 0.24s ease 0s;
}

#dropbox {
    width: 500px;
    height: 200px;
    border: 1px solid blue;
    background: #eee;
  }
  #urllists {
    margin-top: 30px;
    width: 400px;
    height: 300px;
    overflow: auto;
    /* floar: left;
    boader: 1px solid blue; */
  }
  #currentimage {
    margin-left: 420px;
    margin-top: 30px;
  }