@charset "utf-8";

@font-face{
  font-family: 'Aamonoline';
  src: url(../font/Aamonoline.ttf);
}

body {
  padding: 0;
  margin: 0;
  /* background-image: radial-gradient(circle, rgba(225, 225, 225, 1) 40%, rgba(216, 216, 216, 1) 50%, rgba(206, 206, 206, 1) 70%, rgba(197, 197, 197, 1) 80%); */
}

h1{
  padding: 0;
  margin: 0;
}

header{
  background-image: url(../img/wood1.jpg);
  padding: 10px;
}

header .title{
  font-family: 'Aamonoline';
  font-size: 40px;
  color: #f9f9f9;
}

