{% extends 'userlayout.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/img_list.css')}}">
{% endblock %}

{% block content %}
<div class="arts">
    {% if counts == 0 %}
        <div class="notimg">
            <h1>あなたが選ぶ音楽で画像を作ろう！</h1>
            <div class="button">
                <button type="button" onclick="location.href='{{url_for('user.generate')}}'">画像を生成する</button>
            </div>
        </div>
    {% else %}
        {% for image in images %}
            <img src = "{{url_for('static' , filename=image[0])}}">
        {% endfor %}
    {% endif %}
</div>
<div class="pagelinks">
    {%for i in range(1,page+1)%}
        {% if i <= total_pages %}
            <a href = "/img/{{i}}">{{i}}</a>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}