{% extends 'userlayout.html' %}

{% block css %}
    <link rel="stylesheet" href="..\static\css\generate.css">
{% endblock %}

{% block content %}
  <div id="content">
      <div id="header1">
          <h1>音声ファイルを選んでください</h1>
          <h2>※MP3,WAVのみ</h2>
      </div>
      <div id="drop-area"></div>
      <div id="urllists"></div>
      <div id=currentimage></div>
      <div class="km_btn1">
        <button class="km_btn" type="submit">戻る</button>
      </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
  <script type="text/javascript" src="..\static\js\generate.js"></script>
  <script type="text/javascript" src="..\static\js\upload.js"></script>
{% endblock %}