{% extends 'layout.html' %}

{% block css %}
  <link rel="stylesheet" href="{{url_for('login.static' , filename='css/login.css')}}">
{% endblock %}

{% block content %}
{% if err != null %}
<p style="color:red">{{err}}</p>
{% endif %}

<div class ="layout1">
  <form action="{{url_for('login.login_function')}}" method="post">
    <p class="fsize">利用者ログイン画面</p>
    <div class="merupasu">
    <p>メールアドレス：</p>
      <input type="email" id="mail" name="mail" value="{{session.mail if session.mail is defined else ''}}">
    <p>パスワード：</p>
    <input type="password" id="password" name="password"> 
    </div>
    <button type="submit">ログイン</button>
    <a class="register-link" href="{{url_for('user.register')}}">アカウント登録</a>
    <a href="{{url_for('login.cahnge_pas')}}">パスワード変更</a>
  </form>
  <p id="error-message" style="color: red;"></p>
  <div class="account_center">  
  </div>
{% endblock %}